.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  text-align: center;

  transition: background-color var(--timing-function);
}
