.portfolio__list {
  --grid-item: 1;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 3;
  }
}

.portfolio__item {
  display: flex;
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-container-color);

  transition: box-shadow var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__title {
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
