.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio-nav__item {
  margin-top: 15px;
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav__button {
  padding: 6px 22px;
  border: 0;
  color: var(--title-text-color);
  background-color: var(--bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color var(--timing-function), background-color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}
